div{
    padding: 11px;
    border: 1px solid rgb(182, 215, 245);
    background-color: transparent;
}

.visited{
    background-color: rgba(0, 190, 218, 0.75);
    animation: visitedStartNodeBlueAnimation 2.0s ease-out 0s alternate forwards;
}

.visitedWithoutAnimation{
  background-color: rgba(0, 190, 218, 0.75);
}

.path{
  background-color: yellow;
  animation: pathAnimation 2.0s ease-out 0s alternate forwards;
  border: 1px solid yellow;
}

.pathWithoutAnimation{
  border: 1px solid yellow;
  background-color: yellow;
}

.startPoint{
    background-image: url(../../start.svg);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
}

.endPoint{
    background-image: url(../../end.svg);
    background-size: 90px;
    background-position: center;
    background-repeat: no-repeat;
}

.wall{
  background-color: rgba(25, 52, 69, 1);
  border: 1px solid rgba(25, 52, 69, 1);
  animation: wallAnimation 0.3s ease-out 0s alternate forwards;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(12, 53, 71, 1);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(12, 53, 71, 1);
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(12, 53, 71, 1);
  }
}

@keyframes pathAnimation{
  0%{
    color: white;
    transform: scale(.9);
  }

  75%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(1.0);
    background-color: yellow;
  }
}

@keyframes visitedStartNodeBlueAnimation {
    0% {
      transform: scale(.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }