<div class="row" *ngFor="let numberRow of numbersRow">
    <app-node *ngFor="let numberColumn of numbersColumn" [isStart]="isStartPoint(numberColumn, numberRow)"
        [isEnd]="isEndPoint(numberColumn, numberRow)" [isVisited]="isVisited[numberColumn][numberRow]"
        [isWall]="wall[numberColumn][numberRow]" [isPath]="isPath[numberColumn][numberRow]"
        (mousedown)="handleMouseDown(numberColumn, numberRow)" (mouseup)="handleMouseUp(numberColumn, numberRow)"
        (mouseover)="handleMouseOver(numberColumn, numberRow)" [animate]="runVisualization"></app-node>
</div>