.nav{
    background-color: rgba(25, 52, 69, 1);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

.algorithmViewHolder{
    position: relative;
}

.algorithmView{
    position: absolute;
    left: 0%;
    top: 160%;
    width: max-content;
    background-color: rgba(25, 52, 69, 1);
}

.algorithmView button{
    display: block;
}

button{
    background-color: transparent;
    color: white;
    border: 0;
}

button:hover{
    color: gray;
}